
/* ===== Quiz Styling ===== */
.ka-quiz-container {
  max-width: 700px;
  margin: 92px auto;
  padding: 50px;
  height: auto;
  background: linear-gradient(135deg, #2e915e, #e1f6ea);
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(2, 49, 21, 0.1);
  text-align: center;
  animation: fadeIn 0.7s ease-in-out;
}

.ka-quiz-container h2 {
  color: #04441b;
  margin-bottom: 10px;
}

.ka-quiz-container h3 {
  margin: 20px 0;
  font-size: 1.2rem;
  color: #03601e;
}

.ka-options {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ka-option-btn {
  padding: 12px 18px;
  font-size: 1rem;
  background: #ffffff;
  border: 2px solid #1b6a2c;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ka-option-btn:hover {
  background: #d4eddd;
  color: #052d04;
  transform: translateY(-2px);
}

/* ✅ Correct / ❌ Wrong feedback */
.ka-option-btn.correct {
  background-color: #4caf50 !important;
  color: #fff;
  border-color: #4caf50;
}

.ka-option-btn.wrong {
  background-color: #e74c3c !important;
  color: #fff;
  border-color: #e74c3c;
}

.ka-quiz-result {
  font-size: 1.2rem;
  color: #333;
}

.ka-quiz-result h2 {
  color: #033617;
  margin-bottom: 10px;
}

.ka-back-button {
  display: inline-block;
  padding: 12px 26px;
  margin-top: 25px;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(135deg, #123b1a, #33865c);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 14px rgba(61, 173, 106, 0.3);
  
}

.ka-back-button:hover {
  background: linear-gradient(135deg, #54bf7b, #0d3b1b);
  transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(45, 127, 76, 0.4);
  
}

.ka-back-button:active {
  transform: translateY(0);
  box-shadow: 0 3px 10px rgba(45, 127, 79, 0.3);
}


/* Feedback Box */
.ka-feedback {
  margin-top: 15px;
  padding: 12px 18px;
  border-radius: 10px;
  background: #f9f9ff;
  border-left: 5px solid #124a29;
  font-size: 0.95rem;
  color: #333;
  white-space: pre-line; /* so \n works */
  animation: fadeIn 0.8s ease-in;
}
